.main-body {
  display: flex;
  flex-direction: column;
}



/* ACTUAL BOARD PARTS */

.board-container {
  margin-top: auto;
  position: relative;
  display: inline-block;
}

img.board-frame {
  width: 100%;
  height: auto;
  margin-top: auto;
}

.grid-overlay {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 86%;
  aspect-ratio: 2.5/1;
  margin: 0px auto;
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.board-cell {
  background-color: rgba(255, 255, 255, 0.363);
}


/* Selector Modal */

#guardian-selector-modal {
  position: absolute;
  top: 50dvh;
  left: 50dvw;
  transform: translate(-50%, -50%);
  box-sizing: border-box;


  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--red-brown);
  color: white;
  border: 2px solid var(--outline-brown);
  border-radius: 8px;
  width: calc(100% - 40px);
  height: 450px;
}

#guardian-selector-modal>h1 {
  margin: 0;
}

.hidden {
  display: none;
}