.centered-imgs {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.image-one {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width: 1000px) {
    .image-one {
        width: 80%;
    }
}
